:host {
    --ion-background-color: var(--linear-blue-BG, linear-gradient(192deg, #47BFDF 0%, #4A91FF 100%));
  }
  
  .weather-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .weather-icon {
    text-align: center;
    font-size: 4rem;
    margin: 2rem 0;
  }
  
  ion-card {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(2px);
    margin: 2rem 0;
  }
  
  .temperature {
    color: #FFF;
    text-shadow: -4px 8px 50px rgba(0, 0, 0, 0.10);
    font-family: Overpass;
    font-size: 4rem;
    font-weight: 400;
  }
  
  .forecast-button {
    margin-top: auto;
    --background: rgba(255, 255, 255, 0.9);
    --color: var(--ion-color-primary);
  }
  
  ion-chip {
    --background: rgba(255, 255, 255, 0.2);
  }