<ion-content class="content">
  <!-- Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <!-- Search bar -->
  <div>
    <form (ngSubmit)="onSearch($event)">
      <ion-item lines="none" class="search-box">
        <ion-icon slot="start" name="location" color="primary"></ion-icon>
        <ion-input placeholder="Enter Your City" type="text" [clearInput]="true" [(ngModel)]="cityName"
          name="city" required>
        </ion-input>
      </ion-item>
      <ion-button slot="end" (click)="onSearch($event)" [disabled]="!cityName.trim()" class="search">Search</ion-button>
    </form>
  </div>

  <!-- Weather Information -->
  <div class="weatherIcon">
    <div class="img"><img [src]="weatherIcon()" /></div>
    <div class="location">
      <ion-icon slot="start" name="location" color="warning"></ion-icon>
      <ion-label>{{ cityName }}</ion-label>&nbsp;
      <ion-label>{{ weatherData()?.sys?.country }}</ion-label>
    </div>
  </div>

  <div class="card">
    <h3 class="date">Today, {{ todayDate() | customDate: 'date' }}</h3>
    <div class="temp">
      {{ weatherData()?.main?.temp?.toFixed(0) }} <span>°</span>
    </div>
    <div class="description">
      {{ weatherData()?.weather?.[0]?.description }}
    </div>
    <div class="tempparam">
      <i class="fas fa-wind ion-margin-end"></i>&nbsp;
      <ion-label>Wind | {{ weatherData()?.wind?.speed }} m/s</ion-label>
    </div>
    <br />
    <div class="tempparam">
      <ion-icon name="water"></ion-icon>&nbsp;
      <ion-label>Humidity | {{ weatherData()?.main?.humidity }}%</ion-label>
    </div>
  </div>
    <!-- Weather Card -->
    <div class="weather-card">
      <div class="weather-temp">
        <i class="fas fa-thermometer-half"></i>&nbsp;
        <ion-label>Feels Like: {{ weatherData()?.main?.feels_like }}°</ion-label>
      </div>
      <div class="weather-description">
        <i class="fas fa-tachometer-alt"></i>&nbsp;
        <ion-label>Pressure: {{ weatherData()?.main?.pressure }} Pa</ion-label>
      </div>
      <div class="weather-param">
        <i class="fas fa-temperature-high" style="color:red"></i>&nbsp;
        <ion-label>Max : {{ weatherData()?.main?.temp_max }} °</ion-label>
      </div>
      <br />
      <div class="weather-param">
        <i class="fas fa-temperature-low" style="color:blue"></i>&nbsp;
        <ion-label>Min : {{ weatherData()?.main?.temp_min }}°</ion-label>
      </div>
    </div>  
    <ion-list class="forecast-list">
    <ion-button class="forecast-btn" (click)="openModal()">View Hourly Forecast</ion-button>
  </ion-list>  
</ion-content>
