.custom-toast {
    --background: #03ffb3; 
    --color: #2600ff; 
  }
  ion-content {
    --ion-background-color: var(--linear-blue-BG, linear-gradient(192deg, #47BFDF 0%, #4A91FF 100%));
    --padding-top: 10px;
  }
 
  ion-item {
    --background: rgba(160, 79, 79, 0.3);
    color: blue;
     font-size: 20px;
    font-weight: bold;
    --border-radius: 8px;
    backdrop-filter: blur(10px);
    width: 70%;
    float: left;
    margin-inline-start: 8px;
    text-transform: capitalize;
  }
  ion-button{
    --background: white ;
    color: blue;
    width: 25%;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    float: inline-end;
  }
